<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-FDM</title>
    <!-- fuentes de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/140d5acfa8.js" crossorigin="anonymous"></script>
    <!-- Estilos Normalize y custom -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
 <header>
     <div class="main-menu">
        <div class="header-top">
            <div class="form-search">
                <form action="#" method="get" class="search-fm">
                    <input type="text" name="search-prod" id="search-prod" max-length="120" class="form-control">
                </form>
            </div>
            <nav class="nav-create-login">
                <i class="fas fa-user-plus"></i>
                <a href="#">Crear cuenta</a>
                <i class="fas fa-sign-in-alt"></i>
                <a href="#">Login</a>
            </nav>
        </div>

        <div class="header-bottom">
            <div class="logo">
                <img src="/images/LogoFDMK.png" alt="Logo de tienda">
            </div>
            <div class="login-menu-hamb">
                <!-- <div class="logo">
                    <img src="/images/LogoFDMK.png" alt="Logo de tienda">
                </div> -->
                <div class="content-hamb-menu">
                    <a href="#" class="hamburger-button">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>             
            </div>         
                <nav class="nav-top-bottom">
                    <ul class="content-menu-top-bottom">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Decoración</a></li>
                        <li><a href="#">Cocina</a></li>
                        <li><a href="#">Baño</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>         
            <div class="cart-option-menu">
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>

        </div>
    </div>
 </header>
 <main>
     <div class="banner-main">
         <img src="/images/imgBannerMain.jpg" alt="Imagen Cocina Banner">
     </div>
    <section class="hot-sales">
         <div class="section-hot-sales">
             <h2 class="title-hot-sale">Lo más Vendido</h2>
             <div class="description-hot-sales">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quia, non fugiat ipsum perspiciatis totam et nisi qui repellendus eum laboriosam rem corrupti reiciendis officia quidem quibusdam quas quos tempore!</p>
             </div>
         </div>
         <div class="products-hot">
            <article>
                <div class="img-description">
                    <img src="/images/sala1.png" alt="Set comedor"
                class="product-image">
                    <h4>Set Comedor</h4>
                </div>
                <!-- <img src="/images/sala1.png" alt="Set comedor" 
                class="product-image">-->
                <div class="product-detail">
                    <a href="/detail"><i class="fas fa-shopping-cart"></i></a>
                    <p class="price">$320.000</p>
                    <p class="discount">%15</p>  
                </div>
                <!-- <h4>Set Comedor</h4> -->
            </article>
            <article>
                <div class="img-description">
                    <img src="/images/baño1.png" alt="Mueble de baño"
                    class="product-image">
                    <h4>Mueble de Baño</h4>
                </div>
                <div class="product-detail">
                    <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                    <p class="price">$10.000</p>
                    <p class="discount">%25</p>
                </div>
            </article>
            <article>
                <div class="img-description">
                    <img src="/images/cocina1.png" alt="Isla Cocina"
                    class="product-image">
                    <h4>Isla Cocina</h4>
                </div>
                    <div class="product-detail">
                    <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                    <p class="price">$520.000</p>
                    <p class="discount">%5</p>
                </div>
            </article>
            <article>
                <div class="img-description">
                    <img src="/images/cocielec1.png" alt="Cocina Electro"
                    class="product-image">
                    <h4>Cocina Moderna</h4>
                </div>
                <div class="product-detail">
                    <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                    <p class="price">$520.000</p>
                    <p class="discount">%5</p>
                </div>
            </article>
         </div>
    </section>
    <section class="week-sales">
        <div class="section-week-sales">
            <h2 class="title-week-sale">Ofertas de la semana</h2>
        </div>
        <div class="products-week">
           <article>
            <div class="img-description">                  
               <img src="/images/sala2.png" alt="Set comedor"
               class="product-image">
               <h4>Set Comedor</h4>
            </div>   
               <div class="product-detail">
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                   <p class="price">$420.000</p>
                   <p class="discount">%10</p>
               </div>
           </article>
           <article>
                <div class="img-description">
                    <img src="/images/baño2.png" alt="Mueble de baño"
                    class="product-image">
                    <h4>Mueble de Baño</h4>
                </div>
               <div class="product-detail">
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                   <p class="price">$20.000</p>
                   <p class="discount">%05</p>
               </div>
           </article>
           <article>
                <div class="img-description">
                    <img src="/images/cocina2.png" alt="Isla Cocina"
                    class="product-image">
                    <h4>Isla Cocina</h4>
                </div>
               <div class="product-detail">
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                   <p class="price">$320.000</p>
                   <p class="discount">%15</p>
               </div>
           </article>
           <article>
                <div class="img-description">
                    <img src="/images/cocielec3.png" alt="Cocina Electro"
                    class="product-image">
                    <h4>Cocina Moderna</h4>
                </div>
               <div class="product-detail">
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                   <p class="price">$120.000</p>
                   <p class="discount">%5</p>
               </div>
           </article>
        </div>
    </section>
    <section class="new-sales">
        <div class="section-new-sales">
            <h2 class="title-new-sale">Nuevo Lanzamiento</h2>
        </div>        
        <div class="new-sales-main">
            <div class="description-new-sales">
                <p class="new-sales-note">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quia, non fugiat ipsum 
                    perspiciatis totam et nisi qui repellendus eum laboriosam rem corrupti reiciendis officia 
                    quidem quibusdam quas quos tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quia, non fugiat ipsum 
                    perspiciatis totam et nisi qui repellendus eum laboriosam rem corrupti reiciendis officia 
                    quidem quibusdam quas quos tempore!.Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quia, non fugiat ipsum 
                    perspiciatis totam et nisi qui repellendus eum laboriosam rem corrupti reiciendis officia 
                    quidem quibusdam quas quos tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quia, non fugiat ipsum 
                    perspiciatis totam et nisi qui repellendus eum laboriosam rem corrupti reiciendis officia 
                    quidem quibusdam quas quos tempore!.
                                   
                </p>                                
                </p>                                
                </p>                
                <div class="products-new">
                    <article>
                        <div class="img-description">
                            <img src="/images/sala3.png" alt="Set comedor"
                            class="product-image">
                            <h4>Set Comedor</h4>                    
                        </div>
                        <div class="product-detail">
                            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                            <p class="price">$420.000</p>
                            <p class="discount">%10</p>
                        </div>
                    </article>          
                </div>
            </div>
        </div>
    </section>
 </main>
 <footer>
     <div class="secion-footer">
         <!-- <div class="news-letter"> -->
         <div class="paid-method">
            <h5>Métodos de pago</h5>
            <i class="fab fa-paypal" title="PayPal"></i>
            <i class="fab fa-bitcoin" title="BitCoin"></i>
            <i class="far fa-credit-card" title="Credit Card"></i>
            <!-- <ul class="ul-news">
                <li><a href="#">Nuevos Lanzamientos</a></li>
                <li><a href="#">Lo que es tendencia</a></li>
                <li><a href="#">Promociones</a></li>
            </ul> -->
         </div>
         
         <div class="social-media">
            <h5>Redes Sociales</h5>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram-square"></i>
         </div>
         <div class="contact">
            <h5>Contacto</h5>
            <ul>
                <li><i class="fas fa-home"></i> Av Santa Fe 3000</li>
                <li><i class="fas fa-envelope"></i> contact@fdmk.com</li>
                <li><i class="fas fa-mobile-alt"></i> 11 15 9343-2344</li>
            </ul>            
         </div>
     </div>
 </footer>   
</body>
</html>