<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- fuentes de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/140d5acfa8.js" crossorigin="anonymous"></script>
    <!-- Estilos Normalize y custom -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <header>
        <div class="header-top">
            <div class="form-searchBar">
                <form action="#" method="get">
                    <input type="search" name="search-prod" id="search-prod" class="form-control" placeholder="Buscar">
                </form>
            </div>
            <nav class="nav-create-login">
                <i class="fas fa-user-plus"></i>
                <a href="/register">Crear cuenta</a>
                <i class="fas fa-sign-in-alt"></i>
                <a href="/login">Login</a>
            </nav>
         </div>
         <div class="header-bottom">
             <div class="logo">
                <img src="/images/logoDecoring.png" alt="Logo de tienda">
             </div>
             <nav class="nav-top-bottom">
                <ul class="content-menu-top-bottom">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Decoración</a></li>
                    <li><a href="#">Cocina</a></li>
                    <li><a href="#">Baño</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
             </nav>
             <div class="cart-option-menu">
                <i class="fas fa-shopping-cart"></i>
             </div>
         </div>
    </header>
    <div class="form-login">
        <form action="home.html" method="POST" class="create-form">
            <div class="form-control">
                <input type="text" name="nombre-user" id="nombre-user" class="control" placeholder="Ingrese su usuario" required>
            </div>
            <div class="form-control">
                <input type="password" name="pass-user" id="pass-user" class="control" placeholder="Ingrese su contraseña" required>
            </div>
            
            <div class="form-control">
                <button type="submit" class="button-form">Iniciar sesión</button>
            </div>
        </form>
    </div>
    <p class="text-center">¿No tenés cuenta? <a href="/register" class="crearCuenta"> Crear cuenta.</a> </p>
    <footer>
        <div class="secion-footer">
            <!-- <div class="news-letter"> -->
            <div class="paid-method">
               <h5>Métodos de pago</h5>
               <i class="fab fa-paypal" title="PayPal"></i>
               <i class="fab fa-bitcoin" title="BitCoin"></i>
               <i class="far fa-credit-card" title="Credit Card"></i>
               <!-- <ul class="ul-news">
                   <li><a href="#">Nuevos Lanzamientos</a></li>
                   <li><a href="#">Lo que es tendencia</a></li>
                   <li><a href="#">Promociones</a></li>
               </ul> -->
            </div>
            
            <div class="social-media">
               <h5>Redes Sociales</h5>
               <i class="fab fa-facebook-square"></i>
               <i class="fab fa-twitter-square"></i>
               <i class="fab fa-instagram-square"></i>
            </div>
            <div class="contact">
               <h5>Contacto</h5>
               <ul>
                   <li><i class="fas fa-home"></i> Av Santa Fe 3000</li>
                   <li><i class="fas fa-envelope"></i> contact@fdmk.com</li>
                   <li><i class="fas fa-mobile-alt"></i> 11 15 9343-2344</li>
               </ul>            
            </div>
        </div>
    </footer>
</body>
</html>