<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-FDM</title>
    <!-- fuentes de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/140d5acfa8.js" crossorigin="anonymous"></script>
    <!-- Estilos Normalize y custom -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
 <header>
     <div class="header-top">
        <div class="form-search">
            <form action="#" method="get">
                <input type="search" name="search-prod" id="search-prod" class="form-control">
            </form>
        </div>
        <nav class="nav-create-login">
            <i class="fas fa-user-plus"></i>
            <a href="#">Crear cuenta</a>
            <i class="fas fa-sign-in-alt"></i>
            <a href="#">Login</a>
        </nav>
     </div>
     <div class="header-bottom">
         <div class="logo">
            <img src="/images/logoDecoring.png" alt="Logo de tienda">
         </div>
         <nav class="nav-top-bottom">
            <ul class="content-menu-top-bottom">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Decoración</a></li>
                <li><a href="#">Cocina</a></li>
                <li><a href="#">Baño</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
         </nav>
         <div class="cart-option-menu">
            <i class="fas fa-shopping-cart"></i>
         </div>

     </div>
 </header>

 <main>
    <a class= "volver">
        <button type="submit" class="button-form">Volver</button>
    </a>
    <a class="circle-env">
        <i class="fas fa-shopping-cart"></i>
        <i class="fas fa-dollar-sign"></i>
    </a>
    <div class="main">
         <h2>Carrito de compras</h2>
            <nav class="barra-caracteristicas">
               <ul>
                    <li><a>Color</a></li>
                    <li><a>Cantidad</a></li>
                    <li><a>Precio</a></li>
                    <li><a>Subtotal</a></li>
               </ul>
            </nav>
            <section class="sección-carrito">                
                <article>
                    <img src="/" alt="Ducha">
                        <div class="descripcion-articulo">
                           <div class="caracteristicas"> 
                           </div>
                           <div>  
                            <p class="color"></p> 
                            <p class="cantidad"></p>                      
                            <p class="precio-articulo">$800</p>
                            <p class="subtotal"></p>
                           </div>
                           <strong><p>Ducha para baño</p></strong>
                        </div>
                </article>
                <article>
                    <img src="/" alt="Sillon">
                        <div class="descripcion-articulo">
                           <div class="caracteristicas">                        
                           </div>
                           <div>
                            <p class="color"></p> 
                            <p class="cantidad"></p>                          
                            <p class="precio">$35.000</p>
                            <p class="subtotal"></p>
                           </div>
                           <strong><p>Sillón dos cuerpos</p></strong>
                        </div>
                </article>
                <article>
                    <img src="/" alt="Mueble">
                        <div class="descripcion-articulo">
                           <div class="caracteristicas">                        
                           </div>
                           <div>          
                            <p class="color"></p> 
                            <p class="cantidad"></p>           
                            <p class="precio">$5.000</p>
                            <p class="subtotal"></p>
                           </div>
                           <strong><p>Mueble para cocina</p></strong>
                        </div>
                </article>
            </section>
    </div>
    <a class="seguir-comprando">
    <button type="submit" class="button-form">Seguir comprando</button>
    </a>
 </main>
 <footer>
    <div class="secion-footer">
        <!-- <div class="news-letter"> -->
        <div class="paid-method">
           <h5>Métodos de pago</h5>
           <i class="fab fa-paypal" title="PayPal"></i>
           <i class="fab fa-bitcoin" title="BitCoin"></i>
           <i class="far fa-credit-card" title="Credit Card"></i>
           <!-- <ul class="ul-news">
               <li><a href="#">Nuevos Lanzamientos</a></li>
               <li><a href="#">Lo que es tendencia</a></li>
               <li><a href="#">Promociones</a></li>
           </ul> -->
        </div>
        
        <div class="social-media">
           <h5>Redes Sociales</h5>
           <i class="fab fa-facebook-square"></i>
           <i class="fab fa-twitter-square"></i>
           <i class="fab fa-instagram-square"></i>
        </div>
        <div class="contact">
           <h5>Contacto</h5>
           <ul>
               <li><i class="fas fa-home"></i> Av Santa Fe 3000</li>
               <li><i class="fas fa-envelope"></i> contact@fdmk.com</li>
               <li><i class="fas fa-mobile-alt"></i> 11 15 9343-2344</li>
           </ul>            
        </div>
    </div>
</footer>  
</body>
</html>