<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-FDM</title>
    <!-- fuentes de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/140d5acfa8.js" crossorigin="anonymous"></script>
    <!-- Estilos Normalize y custom -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
 <header>
     <div class="header-top">
        <div class="form-search">
            <form action="#" method="get">
                <input type="search" name="search-prod" id="search-prod" class="form-control">
            </form>
        </div>
        <nav class="nav-create-login">
            <i class="fas fa-user-plus"></i>
            <a href="#">Crear cuenta</a>
            <i class="fas fa-sign-in-alt"></i>
            <a href="#">Login</a>
        </nav>
     </div>
     <div class="header-bottom">
         <div class="logo">
            <img src="/images/logoDecoring.png" alt="Logo de tienda">
         </div>
         <nav class="nav-top-bottom">
            <ul class="content-menu-top-bottom">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Decoración</a></li>
                <li><a href="#">Cocina</a></li>
                <li><a href="#">Baño</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
         </nav>
         <div class="cart-option-menu">
            <i class="fas fa-shopping-cart"></i>
         </div>

     </div>
 </header>
 <main>
    <a class= "volver">
        <button type="submit" class="button-form">Volver</button>
    </a>
    <a class= "login">
        <button type="submit" class="button-form">Login</button>
        <i class="fas fa-sign-in-alt"></i>
    </a>
    <div class="main-product">
        <section class="detalle-producto"> 
            <h3>Nombre del producto</h3>
            <article>
                <div class="articulo-elegido">
                  <img src="/images\imaen ducha.jpg" alt="Ducha">
                </div>
                <div class="caracteristicas"> 
                   <div class="precio-articulo">  
                      <p>$800</p>
                   </div>
                   <strong><p>Ducha para baño</p></strong>
                   <div class="color">
                   </div>  
                </div>            
                <div class="añadir">
                    <button type="submit" class="button-form">Añadir al carrito</button>
                </div>    
                <div class="medios-de-pago">
                    <button type="submit" class="button-form">Ver medios de pago</button>
                        <i class="far fa-credit-card"></i>
                        <i class="far fa-credit-card"></i>
                        <i class="fab fa-cc-mastercard"></i>
                        <i class="fas fa-credit-card"></i>
                        <i class="fab fa-cc-mastercard"></i>
                </div>
                <div class="envios">
                    <strong><p>Envíos a través de Correo Argentino y OCA</p></strong>
                </div>      
            </article>  
        </section>
    </div>  
 </main>
 <footer></footer>   
</body>
</html>
