/* AQUI INICIA ESTILOS GENERALES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body{
    font-family: 'Roboto', sans-serif;
}

/* AQUI TERMINA ESTILOS GENERALES */

/* ************************************ */
/* ==================================== */

/* AQUI INICIA HEADER */
.header-top{
    /* display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; */
    padding: 5px;
    width: 100%;
    background-color: #42938E; /* #6DADE0; */
}

.header-top a, i{
    font-size: 14px;
    color: white;
}

.login-menu-hamb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-hamb-menu{
    width: 10%;
    margin-right: 10px;
}

.hamburger-button{
    background-color: #42938E;
    color: white;
    display: block;
    max-width: 40px;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    margin: auto;
}

/* .logo{
    display: flex;
    justify-content: center;
    align-items: center;
  
} */

.logo img{
    width: 70px;
}

.nav-top-bottom{
    display: none;
}

.nav-top-bottom ul{
    list-style-type: none;
    
}

.nav-top-bottom a{
    text-decoration:none;
    color: #424242;
}

.form-control{
    width: 100%;
    border-radius: 7px;   
}

.cart-option-menu{
    display: none;
    background-color: #6DADE0;
    color: white;
}
/* AQUI TERMINA HEADER */

/* ************************************ */
/* ==================================== */

/* AQUI INICIA MAIN */
.banner-main img{
    width: 100%;
}

.title-hot-sale{
    margin-top: 5px;
    padding: 5px 0px;
    text-align: center;
    color: #312e2e;

}

section .description-hot-sales{
    padding: 10px;
}

section .section-hot-sales .description-hot-sales p{
    text-align: justify;
    color: #424242;
}

.products-hot{
    padding: 10px;
}

.product-image{
    width: 100%;
}

.product-detail{
    padding: 0px 5px;
    margin: 15px 0px;
    color: rgb(110, 109, 109);
}

.products-hot article{
    background-color: rgba(66, 147, 142, 0.3);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

/* AQUI TERMINA MAIN */



/* AQUI INICIAN LOS MEDIAS QUERYS */
@media (min-width: 361px) {
    .header-top{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    }
}

/* AQUI TERMINAN LOS MEDIAS QUERYS */

