/* AQUI INICIA ESTILOS GENERALES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body{
    font-family: 'Roboto', sans-serif;
}

/* AQUI TERMINA ESTILOS GENERALES */

/* ************************************ */
/* ==================================== */

/* AQUI INICIA HEADER */
.header-top{
    /* display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; */
    padding: 5px;
    width: 100%;
    background-color: #42938E; /* #6DADE0; */
}

.header-top a, i{
    font-size: 14px;
    color: white;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 70px;
    width: 50px;
    border-radius: 50%;
}

.nav-top-bottom{
    display: none;
}

.nav-top-bottom ul{
    list-style-type: none;
    
}

.nav-top-bottom a{
    text-decoration:none;
    color: #424242;
}

.form-control{
    margin-bottom: 15px;  
}

.create-form{
    padding: 20px 15px;
    max-width: 850px;
    width: 100%;
    margin-top: 240px;
}


.form-login, .form-register{
    display:flex;
    justify-content: center;
}

.form-control{
    margin-bottom:15px
}

.control{
    width: 100%;
    padding: 8px;
}

.button-form{
    background-color: #42938E;
    border: none;
    width: 100%;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

.button-form:hover {
    background-color: turquoise;
}

.text-center{
    text-align: center;
}

.crearCuenta:hover{
    color: #6DC4E0;
}
/* AQUI TERMINA HEADER */

/* ************************************ */
/* ==================================== */

/* AQUI INICIA MAIN */
.banner-main img{
    width: 100%;
}


/* AQUI TERMINA MAIN */

/* AQUI INICIA FOOTER*/ 
.secion-footer{
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    background-color: #42938E;
    width: 100%;
    padding: 15px;

}

/* .news-letter ul{
    text-decoration: none;
    list-style: none;
    text-align: left;
    color: white;
    font-size: 10px;
} */

/* .news-letter ul li{
    margin: 5px 0px ;
    
} */

.secion-footer a{
    color: white;
    
}

.social-media, .paid-method, .contact{
    color: #FFFFFF;
    margin-bottom: 10px;
    text-align: center;
}

.social-media h5, .paid-method h5, .contact h5{
    margin-bottom: 5px;    
}

.social-media, .paid-method, .contact{
    flex-grow: 3;
}

div.contact{
    display: none;
}


/* AQUI TERMINA FOOTER */




/* AQUI INICIAN LOS MEDIAS QUERYS */
@media (min-width: 361px) {
    .header-top{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    }
}

@media (min-widht: 768px) {
    footer .secion-footer h5{
        font-size: 18px;
    }

    footer .paid-method, .social-media i{
        font-size: 20px;
    }
   
    
    footer .contact, .social-media, .paid-method{
        display: block;
        width: 30%;
        
    }

    footer ul{
        list-style: none;
        text-align: justify;
    }

    footer ul li{
        padding: 5px;
    }

    footer .contact{
        padding-left: 30px;
    }    
}

/* AQUI TERMINAN LOS MEDIAS QUERYS */

